
<app-header></app-header>
<app-datetime></app-datetime>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-9 col-sm-offset-1 col-sm-offset-2">
            <div class="list">
                <h3>Read the following instructions carefully and follow them to schedule an appointment.</h3>
                <li>
                    Create an account by signing up in the {{title}}.
                </li>
                <li>If you already have an account, login with your respective username and password.</li>
                <li>Go to my doctors tab.</li>
                <li>Choose the doctor you want to book an appointment with.</li>
                <li>Choose the suitable date and time slot which is available. Availability is decided on first come first serve basis.</li>
                <li>Once, the slot is chosen, make payment to book the chosen slot. Appointment booking process is complete only on successful payment of token money.</li>
                <li>Once booking is done, it will reflect in the profile of the user.</li>
            </div>
            <br>
            <hr>
            <div>
                <h3 class="head"> Some frequently asked questons -</h3>
                <hr>
                <div class="qna">
                    <ul>Question - What is the token money for booking an appointment?</ul>
                    <ul>Ans - Rs 500 needs to be paid in order to book each appointment.</ul>
                    <ul>Question - Can I book multiple appointments?</ul>
                    <ul>Ans - Yes, multiple appointments can be book by a single user against one or multiple doctors by paying the token money for individual appointments.</ul>
                    <ul>Question - Is it a 24 X 7 functional app? Is the app available on playstore?</ul>
                    <ul>Ans - We are at ur service 24 X 7. It is available on playstore and applestore.</ul>
                    <ul>Question - Can I cancel my appointment at a later point of time??</ul>
                    <ul>Ans - Appointments can be cancelled upto 48 hours from the scheduled time with a deduction of Rs 250.</ul>
                </div>
            </div>
        </div>
    </div>
</div>

