.date{
    margin-left: 850px;
    width: 250px;
    font-style:initial;
    font-size: smaller;
    /* margin-top: -10px; */
}

.service{
    margin-left: 850px;
    width: 300px;
    font-style:initial;
    font-size: smaller;
    /* margin-top: -60px; */
}